.home{
    flex: 4;
}
.upsection{
    display: flex;
    justify-content: space-between;
}
.topcardwrapper{
    flex: 4;
    display: grid;
    gap: 1rem;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-around;
    padding: 20px 0;
}
.prioritywrapper{
    flex: 1;
}
.donutwrapper{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}